{% extends 'base.html.twig' %}

{% block title %}New DepenseProjet{% endblock %}

{% block body %}
    <h1>Create new DepenseProjet</h1>

    {{ include('depense_projet/_form.html.twig') }}

    <a href="{{ path('app_depense_projet_index') }}">back to list</a>
{% endblock %}
