{% extends 'base.html.twig' %}

{% block title %}Modifier Projet{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Modifier le projet</h1>

        <div class="card shadow">
            <div class="card-body">
                {{ include('projet/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>

        <div class="mt-3">
            {{ include('projet/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}