<form method="post" action="{{ path('app_station_delete', {'id_station': station.id_station}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ station.id_station) }}">
    <button class="btn">Delete</button>
</form>
