{% extends 'base.html.twig' %}

{% block title %}Modifier fournisseur{% endblock %}

{% block body %}
    <h1>Modifier le fournisseur</h1>

    {{ include('fournisseur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_fournisseur_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}